table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-family: Arial, sans-serif;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #0b84c0;
    color: white;
}

tr:hover {
    background-color: #ddd;
    transition: 0.3s;
}